<ion-view view-title="服务单管理">
  <ion-nav-bar class="bar-positive" align-title="center">
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="item item-input">
        <span class="input-label">宜家订单号</span>
        <input type="text" name="ikea_order_no" ng-model="form.ikea_order_no">
      </div>
      <div class="row">
        <div class="col col-50">
          <a class="button button-block button-positive" ng-click="search()">查找</a>
        </div>
        <div class="col col-50">
          <a class="button button-block button-outline button-positive" ng-click="reset()">清空</a>
        </div>
      </div>
      <div class="item item-divider" style="padding: 0">
        <div class="row">
          <div class="col" style="width: 30%">宜家单号</div>
          <div class="col" style="width: 50%">收货人</div>
          <div class="col" style="width: 20%">服务日期</div>
        </div>
      </div>
      <div class="item" style="padding: 0" ng-repeat="item in items">
        <div class="row">
          <div class="col" style="width: 30%" ng-bind="item.owner_no"/>
          <div class="col" style="width: 50%" ng-bind="item.receiver_name"/>
          <div class="col" style="width: 20%" ng-bind="item.delivery_time_from"/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
